/* contact */

#contact .input {
    padding: 8px;
    display: block;
    border: none;
    width: 100%
}

#contact .message {
    border: 0;
    padding: 8px 16px
}

.message:hover {
    color: #000 !important;
    background-color: #ccc !important
}

@media (max-width:600px) {
    .message {
        width: 100%
    }
}

#contact .heading {
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;
}