/* footer */

.social-icon {
    padding: 0;
}

.social-icon li {
    list-style: none;
    display: inline-block;
    padding: 0;
}

.social-icon li a {
    background: #f0f0f0;
    color: #5C5C5C;
    font-size: 24px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
    margin-top: 12px;
    margin-right: 16px;
    top: 0;
    position: relative;
    padding: 10px;
}

.social-icon li a:hover {
    background: rgba(199, 26, 199, 0.537);
    color: white;
    top: 5px;
}