/* global stylesheet */

/* -------------- Navbar ----------------*/


.button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}

@media (max-width:600px) {
    .button {
        width: 100%
    }
}

.button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.on_top {
    position: fixed;
    width: 100%;
    z-index: 1
}

.on_top {
    top: 0
}

@media (max-width:600px) {
    .hide_small {
        display: none !important
    }
}

.xlarge {
    font-size: 24px !important
}

.xxlarge {
    font-size: 36px !important
}

.xxxlarge {
    font-size: 48px !important
}

.jumbo {
    font-size: 64px !important
}

.black {
    color: #fff !important;
    background-color: #000 !important
}

.opacity,
.hover_opacity:hover {
    opacity: 0.60
}

.opacity_off,
.hover_opacity_off:hover {
    opacity: 1
}

/* -------------- Home ----------------*/

.grayscale_min {
    filter: grayscale(50%)
}

.grayscale {
    filter: grayscale(75%)
}

.display_bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}

.display_bottomright {
    position: absolute;
    right: 0;
    bottom: 0
}

.padding_small {
    padding: 4px 8px !important
}

.padding {
    padding: 8px 16px !important
}

.padding_large {
    padding: 12px 24px !important
}

.display_middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.center {
    display: inline-block;
    width: auto;
    text-align: center
}

/* -------------- About ----------------*/

.right {
    float: right !important
}

.right_align {
    text-align: right !important
}

.margin {
    margin: 16px !important
}

.margin_top {
    margin-top: 16px !important
}

.margin_bottom {
    margin-bottom: 16px !important
}

.col {
    padding: 0 8px
}

.text_in_column {
    width: 49.99999%
}

.col,
.half,
.third,
.twothird,
.threequarter,
.quarter {
    float: left;
    width: 100%
}

.col.s1 {
    width: 8.33333%
}

.col.s2 {
    width: 16.66666%
}

.col.s3 {
    width: 24.99999%
}

.col.s4 {
    width: 33.33333%
}

.col.s5 {
    width: 41.66666%
}

.col.s6 {
    width: 49.99999%
}

.col.s7 {
    width: 58.33333%
}

.col.s8 {
    width: 66.66666%
}

.col.s9 {
    width: 74.99999%
}

.col.s10 {
    width: 83.33333%
}

.col.s11 {
    width: 91.66666%
}

.col.s12 {
    width: 99.99999%
}

@media (min-width:601px) {
    .col.m1 {
        width: 8.33333%
    }

    .col.m2 {
        width: 16.66666%
    }

    .col.m3,
    .quarter {
        width: 24.99999%
    }

    .col.m4,
    .third {
        width: 33.33333%
    }

    .col.m5 {
        width: 41.66666%
    }

    .col.m6,
    .half {
        width: 49.99999%
    }

    .col.m7 {
        width: 58.33333%
    }

    .col.m8,
    .twothird {
        width: 66.66666%
    }

    .col.m9,
    .threequarter {
        width: 74.99999%
    }

    .col.m10 {
        width: 83.33333%
    }

    .col.m11 {
        width: 91.66666%
    }

    .col.m12 {
        width: 99.99999%
    }
}

@media (min-width:993px) {
    .col.l1 {
        width: 8.33333%
    }

    .col.l2 {
        width: 16.66666%
    }

    .col.l3 {
        width: 24.99999%
    }

    .col.l4 {
        width: 33.33333%
    }

    .col.l5 {
        width: 41.66666%
    }

    .col.l6 {
        width: 49.99999%
    }

    .col.l7 {
        width: 58.33333%
    }

    .col.l8 {
        width: 66.66666%
    }

    .col.l9 {
        width: 74.99999%
    }

    .col.l10 {
        width: 83.33333%
    }

    .col.l11 {
        width: 91.66666%
    }

    .col.l12 {
        width: 99.99999%
    }
}

.container:after,
.container:before,
.panel:after,
.panel:before,
.row:after,
.row:before,
.row-padding:after,
.row-padding:before,
.cell-row:before,
.cell-row:after,
.clear:after,
.clear:before,
.bar:before,
.bar:after {
    content: "";
    display: table;
    clear: both
}

@media (max-width:992px) {

    .row-padding,
    .row-padding>.half,
    .row-padding>.third,
    .row-padding>.twothird,
    .row-padding>.threequarter,
    .row-padding>.quarter,
    .row-padding>.col {
        padding: 0 8px
    }
}

/* -------------- Menu ----------------*/

.blue_gray {
    color: #fff !important;
    background-color: #607d8b !important
}

/* -------------- Location ----------------*/

.padding_64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

/* -------------- Contact ----------------*/

.padding_16 {
    padding-top: 16px !important;
    padding-bottom: 16px !important
}

.padding_48 {
    padding-top: 48px !important;
    padding-bottom: 48px !important
}