/* Menu */

.menu_section {
    background-attachment: fixed !important;
    background-size: cover !important;
    text-align: center;
}

#menu .row {
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

#menu .menu_col_md_8 {
    padding-bottom: 42px;
}

#menu .menu_col_md_6 {
    padding-bottom: 18px;
}