/* Menu */

.border-dark-gray,
.hover-border-dark-gray:hover {
    border-color: #616161 !important
}

.border {
    border: 1px solid #ccc !important
}

.row:after,
.row:before {
    content: "";
    display: table;
    clear: both
}

.red,
.hover_red:hover {
    color: #fff !important;
    background-color: #f44336 !important
}

.col {
    float: left;
    width: 100%
}

.col.s4 {
    width: 33.33333%
}

@media (max-width:992px) {
    .w3-col {
        padding: 0 8px
    }
}