/* Menu */

.menu_section {
    background-attachment: fixed !important;
    background-size: cover !important;
}

.row {
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.menu_col_md_8 {
    padding-bottom: 42px;
}

.menu_col_md_6 {
    padding-bottom: 18px;
}

.blue_gray {
    color: #fff !important;
    background-color: #607d8b !important
}