/* Navigation Bar */
.navigation_bar .navigation_bar_item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.navigation_bar .button {
    white-space: normal
}

.navigation_bar {
    width: 100%;
    overflow: hidden
}

.navigation_bar_item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.navigation_bar_item {
    text-align: center
}

@media (max-width:600px) {

    .navigation_bar_item {
        text-align: center
    }
}

button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}


@media (max-width:600px) {
    .button {
        width: 100%
    }
}

.button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.on_top {
    position: fixed;
    width: 100%;
    z-index: 1
}

.on_top {
    top: 0
}

@media (max-width:600px) {
    .hide_small {
        display: none !important
    }
}

.xlarge {
    font-size: 24px !important
}

.xxlarge {
    font-size: 36px !important
}

.xxxlarge {
    font-size: 48px !important
}

.jumbo {
    font-size: 64px !important
}

.black {
    color: #fff !important;
    background-color: #000 !important
}

.opacity,
.hover_opacity:hover {
    opacity: 0.60
}

.opacity_off,
.hover_opacity_off:hover {
    opacity: 1
}