/* Specials */

#special {
    background: #7951a9bf;
    text-align: center;
}

#special .card-container {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#special .card-container .card {
    height: 48rem;
    width: 30rem;
    background: #fff;
    padding: 1rem;
    margin: 2rem;
    text-align: center;
}

#special .card-container .card img {
    height: 50%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

#special .card-container .card p {
    font-size: 1.4rem;
    margin: 2rem 0;
}

#special .card-container .card:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.text_arial {
    font-family: Arial;
}