/* Home */
.background_img {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/images/Restaurant_home.jpg");
    min-height: 90%;
    min-width: 90%;
}

.display_container {
    position: relative
}

.grayscale_min {
    filter: grayscale(50%)
}

.grayscale {
    filter: grayscale(75%)
}

.display_bottomleft {
    position: absolute;
    left: 0;
    bottom: 0
}

.display_bottomright {
    position: absolute;
    right: 0;
    bottom: 0
}

.padding_small {
    padding: 4px 8px !important
}

.padding {
    padding: 8px 16px !important
}

.padding_large {
    padding: 12px 24px !important
}

.tag {
    background-color: #000;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center
}

.display_middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.center {
    display: inline-block;
    width: auto
}

.text_white,
.hover_text_white:hover {
    color: #fff !important
}

@media (min-width:993px) {
    .hide_large {
        display: none !important
    }
}

@media (max-width:992px) and (min-width:601px) {
    .hide_medium {
        display: none !important
    }
}

.centered {
    text-align: center
}

/* Navigation Bar */
.navigation_bar .navigation_bar_item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0
}

.navigation_bar .button {
    white-space: normal
}

.navigation_bar {
    width: 100%;
    overflow: hidden
}

.navigation_bar_item {
    width: 100%;
    display: block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

.navigation_bar_item {
    text-align: center
}

@media (max-width:600px) {

    .navigation_bar_item {
        text-align: center
    }
}

button {
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap
}

.button {
    width: 100%;
    text-align: left;
    padding: 8px 16px
}


@media (max-width:600px) {
    .button {
        width: 100%
    }
}

.button:hover {
    color: #000 !important;
    background-color: #ccc !important
}

.on_top {
    position: fixed;
    width: 100%;
    z-index: 1
}

.on_top {
    top: 0
}

@media (max-width:600px) {
    .hide_small {
        display: none !important
    }
}

.xlarge {
    font-size: 24px !important
}

.xxlarge {
    font-size: 36px !important
}

.xxxlarge {
    font-size: 48px !important
}

.jumbo {
    font-size: 64px !important
}

.black {
    color: #fff !important;
    background-color: #000 !important
}

.opacity,
.hover_opacity:hover {
    opacity: 0.60
}

.opacity_off,
.hover_opacity_off:hover {
    opacity: 1
}

/* Location */

.address_text {
    font-size: 12px;
    padding-right: 10px;
}

.container:after,
.container:before {
    content: "";
    display: table;
    clear: both
}

.container {
    padding: 0.01em 16px
}

.padding_64 {
    padding-top: 64px !important;
    padding-bottom: 64px !important
}

.red,
.hover_red:hover {
    color: #fff !important;
    background-color: #f44336 !important
}

.center {
    display: inline-block;
    width: auto
}

.center {
    text-align: center
}

@media (max-width:992px) {
    .w3-center {
        text-align: center !important
    }
}

/* Menu */

.menu_section {
    background-attachment: fixed !important;
    background-size: cover !important;
}

.row {
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
}

.menu_col_md_8 {
    padding-bottom: 42px;
}

.menu_col_md_6 {
    padding-bottom: 18px;
}

.blue_gray {
    color: #fff !important;
    background-color: #607d8b !important
}